body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app {
  text-align: center;
}

.navlink {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 12px;
  margin: 0 6px 6px;
  background-color: blue;
  color: white;
  text-decoration: none;
}

#header {
  text-align: center;
}

.error {
  color: red;
  font-style: italic;
}
